[user]
  name = Anson Hoyt
  email = ahoyt@tiu11.org
[color]
  ui = auto
[core]
  excludesfile = ~/.gitignore_global
  attributesfile = ~/.gitattributes
# SourceTree https://www.deltawalker.com/integrate/other-apps
[difftool "sourcetree"]
  cmd = /Applications/DeltaWalker.app/Contents/MacOS/DeltaWalker \"$REMOTE\" \"$LOCAL\" -mi -pwd=\"`pwd`\"
  path =
[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[credential]
  helper = osxkeychain
[push]
  default = simple
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
[commit]
  template = /Users/ahoyt/.stCommitMsg
